TASK_MAX_ATTEMPTS=2

HEARTBEAT_INTERVAL=10
HEARTBEAT_TIMEOUT=30

UPLOAD_DIR=/data/uploads
TMP_DIR=/data/temp

DEFAULT_RUNTIME=cpu

DB_DRIVER=postgresql+asyncpg
DB_USERNAME=postgres
DB_PASSWORD=
DB_DATABASE_NAME=postgres
DB_HOST=localhost
DB_PORT=5432
